@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body {
  height: 100%;
}

body {
  font: 12px/1 'Montserrat', sans-serif;
  color: #333;
  background: #333;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
  
}

.sidebar {
  position: absolute;
  width: 200px;
}

.content {
  -webkit-flex: 100;
  flex: 1;
  padding: 30px;
  background: rgb(199, 7, 7);
  box-shadow: 0 0 5px rgba(0,0,0,1);
  transform: translate3d(0,0,0);
  transition: all .3s;
}

.content.content-is-open {
  margin-left: 220px;
}

.side-panel-toggle {
  cursor: pointer;
  font-size: 42px;
}

/* Demo Navigation */

.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
}

.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #eee;
  border-bottom: 1px solid #222;
}

.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}

.nav li:nth-child(1) a:before { content: '\f00a'; }
.nav li:nth-child(2) a:before { content: '\f0e8'; }
.nav li:nth-child(3) a:before { content: '\f115'; }
.nav li:nth-child(4) a:before { content: '\f022'; }
.nav li:nth-child(5) a:before { content: '\f023'; }

.nav li a:hover {
  background: #444;
}

.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}

/* Demo Description */

h1 {
  margin: 25px 0 15px;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}

input[type=textarea]{
    width:20%;
    height: 20%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }

.dropdown{
  margin-left: 30%;
  margin-top: -77px;

}

.button{
  margin-left: 82%;
  margin-top: -80px;
  width: 10%;
  height: 10%;
}

.categoryA{
  padding-top: 5%;
}

.categoryB{
  margin-left: 25%;
  margin-top: -194px;
}

.categoryC{
  margin-left: 50%;
  margin-top: -195px;
}

.button2{
  margin-left: 28%;
  margin-top: 45px;
}

.wrapper2{
    /* text-align: center; */
    font-size: 30px;
    margin-top: 10%;
    margin-left: 5%;
    width: 196px;
    height: 150px;
    background: #fff;
    border-radius: 10px;
    padding: 18px 25px 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.06);
}

.spl{
    text-align: center;
    padding: 20px;
}